# Core packages
numpy>=1.21.0  # Tính toán số học
scipy>=1.8.0  # Công cụ khoa học
matplotlib>=3.5.0  # Hiển thị đồ thị
Pillow>=8.0.0  # Xử lý ảnh
opencv-python-headless  # OpenCV không có giao diện GUI

# AI and YOLOv8
# Sử dụng torch phù hợp với Raspberry Pi
torch>=1.9.0,<2.0.0  # Phiên bản torch tương thích với Raspberry Pi
torchvision>=0.10.0,<0.11.0  # TorchVision phù hợp với torch
ultralytics>=8.0.20  # YOLOv8

# Text-to-speech
pyttsx3  # Đọc văn bản thành tiếng


