# Core packages
numpy>=1.21.0  # Tính toán số học
scipy>=1.8.0  # Công cụ khoa học
matplotlib>=3.5.0  # Hiển thị đồ thị
Pillow>=8.0.0  # Xử lý ảnh
opencv-python  # OpenCV

# AI and YOLOv8
ultralytics  # Thư viện YOLOv8 chính
torch>=1.13.1

# Text-to-speech
pyttsx3  # Đọc văn bản thành tiếng
